joblib==1.2.0
numpy==1.21.0
pandas==1.5.3
scikit-learn==1.5.2
imbalanced-learn==0.10.1
scipy==1.9.3
requests==2.28.2
flask==2.1.1
werkzeug==2.0.3


Assignment: AI driven auto update of F5 AS3 declarion [1] using WAF policy, iRule and Data Groups to block malicious IPs. 
ASM advanced WAF policy is configured in BIGIP to block any malicious traffic. 
Consider sample ASM logs [2] as raw data.
1. Train a AI model using [2] to predict malicious traffic based on real time traffic. Build docker image for AI model. Deploy this model as k8s deployment available as a service.
2. Create an Agent which listens for realtime data with ASM payload. Build a docker container and deploy as K8S deployment, available as a service.
3. Agent must use the AI model to predict the malicious nature of traffic data received via HTTP POST. If malicious then update data groups in AS3 ConfigMap with IP address as per the request.
4. Write a test script for data validation with normal and malicious traffic.
5. use OpenShift 4.16 environment to deploy and validate this implementation.

[1] https://raw.githubusercontent.com/trinaths/ai-demo/refs/heads/main/cis-asmwaf-ai/ai_model/improved_asm_training_data.csv
[2] 
